  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.user_name}}" placeholder="user_name" name="user_name">
      <label for="floatingInput">User Name</label>
    </div>
  </div>
  
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.user_email}}" placeholder="email" name="user_email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" value="{{this.password}}" placeholder="password" name="password">
      <label for="floatingInput">password</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>